:root {
  --scaler: 1;
}

.pizzaContainer {
  width: 40vw;
  height: 40vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sliceHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#why {
  clip-path: inset(0% 0% 50% 50%);
  background-image: url('../src/pizza.png');
  background-size: cover;
  transform: scale(var(--scaler));
}

#projects {
  clip-path: inset(50% 0% 0% 50%);
  background-image: url('../src/pizza.png');
  background-size: cover;
  transform: scale(var(--scaler));
}

#posts {
  clip-path: inset(50% 50% 0% 0%);
  background-image: url('../src/pizza.png');
  background-size: cover;
  transform: scale(var(--scaler));
}

#contacts {
  clip-path: inset(0% 50% 50% 0%);
  background-image: url('../src/pizza.png');
  background-size: cover;
  transform: scale(var(--scaler));
}

@media screen and (max-width: 1100px) {
  .pizzaContainer {
    width: 80vw;
    height: 80vw;
  }
}
